<% if artists.any? %>

  <ul class="artists">
      <% artists.each do |artist| %>
        <li>
          <%= render partial: 'artists/item', locals: { artist: artist, display: display } %>
        </li>
      <% end %>
  </ul>

<% end %>