<% if artists.any? %>

  <ul class="artists">
      <% artists.each do |artist| %>
        <li>
          <div>
            <%= link_to artist.name, artist_path(artist), class: 'artist' %>
          </div>
          <div>
              <div class="play-count"><%= artist.play_count %></div>
          </div>
        </li>
      <% end %>
  </ul>

<% end %>