<% if artists.any? %>
  <div class="list-group">
      <% artists.each do |artist| %>
        <div class="list-group-item">
          <%= render partial: 'artists/item', locals: { artist: artist, display: display } %>
        </div>
      <% end %>
  </div>

<% end %>