<h1>Stations</h1>

<ul class="stations">
  <% @stations.each do |station| %>
    <li>
        <div>
            <%= link_to station.name, station_path( station ), class: 'station'  %>
        </div>
        <div>
            <div class="play-count"><%= station.play_count %></div>
            <div class="artist-count"><%= station.artist_count %></div>
            <div class="song-count"><%= station.song_count %></div>
        </div>
    </li>
  <% end %>
</ul>


