<h2><%= @station.name %></h2>


<%= render 'stations/facts' %>

<h3>Most played</h3>
<div class="row">
  <div class="col-xs-12 col-md-6">
      <h4>Songs</h4>
      <%= render partial: 'songs/list', locals: { songs: @station.top_songs( 10 ), display: [ :play_count, :artist ] } %>
  </div>
  <div class="col-xs-12 col-md-6">
      <h4>Artists</h4>
      <%= render partial: 'artists/list', locals: { artists: @station.top_artists( 10 ), display: [ :play_count ] } %>
  </div>
</div>