<h1>Radiolizer</h1>

<div>

  <h2>Popular songs</h2>
  <%= render partial: 'songs/list', locals: { songs: @pop_songs } %>

  <hr />
  <h2>Popular artists</h2>
    <%= render partial: 'artists/list', locals: { artists: @pop_artists } %>

</div>
