<h1>Radiolizer</h1>

<div>

  <h2>Latest awarded songs</h2>
  <%= render partial: 'awards/list', locals: { awards: @awarded_songs } %>

  <hr />
  <h2>Latest awarded artists</h2>
  <%= render partial: 'awards/list', locals: { awards: @awarded_artists } %>

</div>
