<% if song %>
    <div>
      <%= link_to song.name, song_path(song), class: 'song' %> by
      <%= link_to song.artist.name, artist_path( song.artist ), class: 'artist' %>
    </div>
    <div>
        <span class="play-count"><%= song.play_count %></span>
    </div>
<% end %>