<% if songs.any? %>
  <div class="list-group">
      <% songs.each do |song| %>
        <div class="list-group-item">
          <%= render partial: 'songs/item', locals: { song: song, display: display } %>
        </div>
      <% end %>
  </div>
<% end %>