.broadcasts {
  .stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > div {
      width: 25%;
      min-width: 200px;
      margin: 10px 0;
    }

    .stat {
      width: 100%;

      b {
        display: block;
        width: 100%;
      }
    }
  }
}