.title {

  margin: 50px 0;
  text-align: center;

  h1 {
    font-family: 'Pacifico', serif;
    font-size: 60px;
  }

  b {
    font-size: 0.9rem;
  }
}

.footer {
  text-align: center;
  margin: 20px 0;
}


.xs-info {
  font-size: 0.9rem;
}

.facts {
  text-align: center;
}