
$orange: #eb6a19;

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 100;
  text-decoration: none;
}

body {
  margin: 0 auto;
  max-width: 900px;
}

a {
  font-weight: 400;
  color: black;
  font-size: 18px;
}

a:hover {
  color: $orange;
}

h1, h2, h3, h4, h5 {
}

h1 {
  font-family: "Pacifico", sans-serif;
  margin: 40px 0;
  font-size: 800%;
  text-align: center;
  color: $orange;
}

h2 {
  margin: 20px 10px;
  font-size: 48px;
  font-weight: 100;
}

h3 {
  font-weight: 300;
  font-size: 18px;
  margin-top: 30px;
  color: $orange;
}


ul {
    list-style: none;
}


p {
  margin: 10px 0;
}

table {
  margin: 0 10px;
}

th, td {
  text-align: left;
  padding: 10px 5px 10px 0;
  vertical-align: top;
}


span.play, span.artist, span.song, span.clock, span.trophy {
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}

span.play::before {
  content: image-url('play.png');
  margin-right: 4px;
}

span.artist::before {
  content: image-url('artist.png');
  margin-right: 4px;
}

span.song::before {
  content: image-url('song.png');
  margin-right: 4px;
}

span.clock::before {
  content: image-url('clock.png');
  margin-right: 4px;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span.gold::before {
  content: image-url('gold.png');
  margin-right: 4px;
}

span.silver::before {
  content: image-url('silver.png');
  margin-right: 4px;
}

span.bronze::before {
  content: image-url('bronze.png');
  margin-right: 4px;
}

span.trophy::before {
  content: image-url('trophy.png');
  margin-right: 4px;
}

ul.songs, ul.artists, ul.stations, ul.awards {
  li {
    padding: 10px 0;
    border: 0px solid grey;
    border-bottom-width: 1px;
  }

  li:last-child {
    border-bottom-width: 0;
  }
}

.facts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .fact {
    margin: 0 0 20px 0;
    width: 50%;

    > div {
      margin: 10px;
    }
  }
}

.footer {
  border: 0 solid black;
  border-top-width: 1px;
  margin: 100px 0;
  text-align: center;
}
