
$orange: #EA6045;
$brown: #7d3e3a;
$yellow: #F8CA4D;
$beige: #F5E5C0;
$blue: #3F5666;
$darkblue: #2F3440;


* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: $darkblue;
}

body {
  background-color: #fff;
  color: $darkblue;
}

a {
  text-decoration: none;
  font-size: 16px;
}

a.song          { color: $orange; font-size: 24px;  }
a.song:hover    { color: darken($orange, 15%); }
a.artist        { color: $brown; font-size: 18px; }
a.artist:hover  { color: lighten($brown, 15%); }
a.station       { color: $blue; font-size: 24px; }
a.station:hover { color: lighten($blue, 15%); }
h1 {
  font-size: 2.4rem;
}

h1 {
  display: inline-block;
  border: 0 solid $orange;
  border-bottom-width: 2px;
  margin: 20px 0 30px 0;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: $blue;
}

ul {
    list-style: none;
}

hr {
  margin: 30px 0;
  border-color: transparentize($blue, 0.9);
}

p {
  margin: 10px 0;
}

.container {
  margin: 10px 20px;
}

th, td {
  text-align: left;
}

span.play, span.artist, span.song, span.clock, span.trophy {
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}

span.play::before {
  content: image-url('play.png');
  margin-right: 4px;
}

span.artist::before {
  content: image-url('artist.png');
  margin-right: 4px;
}

span.song::before {
  content: image-url('song.png');
  margin-right: 4px;
}

span.clock::before {
  content: image-url('clock.png');
  margin-right: 4px;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span.gold::before {
  content: image-url('gold.png');
  margin-right: 4px;
}

span.silver::before {
  content: image-url('silver.png');
  margin-right: 4px;
}

span.bronze::before {
  content: image-url('bronze.png');
  margin-right: 4px;
}

span.trophy::before {
  content: image-url('trophy.png');
  margin-right: 4px;
}

ul.songs, ul.artists, ul.stations, ul.awards {
  li {
    padding: 10px 0;
    border: 0px solid $beige;
    border-bottom-width: 1px;
  }

  li:last-child {
    border-bottom-width: 0;
  }
}